<div class="page-data">
    <form method="post" ng-submit="addcustomer()">
        <table cellpadding="11">
            <tr>
                <td>
                    Name
                </td>
                <td>
                    :
                    <input name="name" ng-model="user.name" required="" type="text"/>
                </td>
            </tr>
            <tr>
                <td valign="top">
                    Address
                </td>
                <td valign="top">
                    :
                    <textarea cols="30" name="address" ng-model="user.address" required="" rows="5">
                    </textarea>
                </td>
            </tr>
            <tr>
                <td>
                    Email
                </td>
                <td>
                    :
                    <input name="email" ng-model="user.email" required="" type="text"/>
                </td>
            </tr>
            <tr>
                <td>
                    Phone
                </td>
                <td>
                    :
                    <input name="contact_no" ng-model="user.contact_no" required="" type="text"/>
                </td>
            </tr>
            <tr>
                <td>
                    <input name="submit" type="submit" value="Save">
                        <input class="cancel" name="cancel" ng-click="cancelAdd()" type="button" value="Cancel">
                        </input>
                    </input>
                </td>
            </tr>
        </table>
    </form>
</div>