<div class="page-data" ng-controller="customers">
    <div class="data-btn">
        <button class='button'><a href="#addcustomer" ng-click="addUser();">
            Add
        </a></button>
    </div>

    <div class="data-table">
        <table border="1"  class='tg' >
            <tr>
                <th>
                    No
                </th>
                <th>
                    Name
                </th>
                <th>
                    Address
                </th>
                <th>
                    Email
                </th>
                <th>
                    Phone
                </th>
                <th>
                    Action
                </th>
            </tr>
            <tr ng-repeat="user in tableData">
                <td>
                    <span>
                        {{ user.id }}
                    </span>
                </td>
                <td>
                    <span>
                        {{ user.name }}
                    </span>
                </td>
                <td>
                    <span>
                        {{ user.address}}
                    </span>
                </td>
                <td>
                    <span>
                        {{ user.email }}
                    </span>
                </td>
                <td>
                    <span>
                        {{ user.contact_no }}
                    </span>
                </td>
                <td>
                    <button class="remove" ng-click="deletecustomer(user.id)">
                        Delete
                    </button>
                    <button ng-click="edit(user)">
                        Update
                    </button>
                </td>
            </tr>
        </table>
    </div>
</div>


<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;border-color:#aabcfe;width:90%;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#aabcfe;color:#669;background-color:#e8edff;width:50px;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#aabcfe;color:#039;background-color:#b9c9fe;}
.tg .tg-3we0{background-color:#ffffff;vertical-align:top}
.tg .tg-yw4l{vertical-align:top}
.button {
    background-color: ##b9c9fe; /* Green */
    border: 2px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
</style>
